@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@300&display=swap');


body{
    background-color: rgb(47, 69, 92);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family:'Orbitron';
}

h1 {
    font-size: 84px;
    color: white;
    margin-bottom: 80px;
    display: contents;
}

h2 {
    font-size: 67px;
    margin-bottom: 80px;
}

.Game-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    margin: 0 auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.btn1 {
    font-size: 40px;
    padding: 30px 0;
    width: 440px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(14, 13, 14);
    background: linear-gradient(90deg, rgb(52, 245, 197)0%, rgb(0, 102, 255)110%);
}

.btn1:hover{
    cursor: pointer;
    box-shadow: 0 4.6px 16px 0 rgb(255, 251, 0);
    transition: transform 150ms;
    transform: scale(1.03);

}

.btn1[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;

}

#high-btn{
    background:linear-gradient(90deg, rgb(33, 248, 122)0%, rgb(16, 243, 65)110%); 
}

#high-btn:hover{
    box-shadow: 0 4.6px 16px 0 rgb(255, 255, 0);

}
.fas{
    font-size: 90px;
    margin-left: 5px;
    color: azure;
}
.fa-brain{
    font-size: 90px;
    color: white;
}

footer {
    margin-top: auto;
    background-color: rgba(43, 43, 42, 0.6);
}


 a {
    color: #dba622;
    font-size: 65px;
    margin-inline-end: 10px;
    padding: 10px 10px;
}








