@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rowdies&display=swap');

*,*::before, *::after {
    box-sizing: border-box;
    font-family:'Roboto', 'Rowdies';
}

:root {
    --hue-neutral: 900;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body{
    --hue:var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    /* background-color: aqua; */
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue:var(--hue-correct);

    /* background-color: rgb(0, 177, 6); */
}

body.wrong {
    --hue:var(--hue-wrong);
}

.box{
    width: 800px;
    max-width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-layout{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    /* --hue: var(--hue-neutral); */
    border: 1px solid red;
    /* background-color: hsl(var(--hue), 100%, 50%); */
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    outline: none ;
    background: linear-gradient(90deg, rgb(200, 18, 255)0%, rgb(247, 0, 255)110%);
}

.btn:hover{
    border-color: black ;
}

.btn.correct{
background: greenyellow;
}

.btn.wrong{
    background: red;
}

.start-btn, .next-btn{
    font-size: 50px;
    font-weight: bold;
    padding: 10px 20px;
}

.control-Pannel{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}